<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Aprovação</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/processos">Processos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Cadastrar Processo
      </li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-md-8">
  <form [formGroup]="processoForm" (ngSubmit)="cadastrarProcesso()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="numeroProcesso"><span class="text-danger"
            *ngIf="processoForm.controls.numeroProcesso.invalid">*</span>Numero do Processo</label>
        <input type="text" formControlName="numeroProcesso" [textMask]="cnjMask" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="valorCausa">
          <span class="text-danger" *ngIf="processoForm.controls.valorCausa.invalid">*</span>
          ValorCausa
        </label>
        <input type="number" class="form-control" formControlName="valorCausa">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="reclamante"><span class="text-danger"
          *ngIf="processoForm.controls.reclamanteId.invalid">*</span>Reclamante</label>
        <select class="custom-select mr-sm-2" formControlName="reclamanteId">
          <option *ngFor="let reclamante of reclamantes" [ngValue]="reclamante.id">{{reclamante.nome}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="escritorio"><span class="text-danger"
          *ngIf="processoForm.controls.escritorioId.invalid">*</span>Escritório</label>
        <select class="custom-select mr-sm-2" formControlName="escritorioId">
          <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.id">{{escritorio.nome}}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="processoForm.invalid">Cadastrar Processo</button>
  </form>
    <div [hidden]="erroPost" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Erro ao tentar cadastrar o Processo</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" (click)="fecharAlerta()">&times;</span>
      </button>
    </div>
    <div class="container-fluid col-md-4">
      <div [hidden]="!postSucess" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Processo cadastrado com sucesso</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" (click)="fecharAlerta()">&times;</span>
        </button>
      </div>
</div>
