<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Aprovação</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/reclamantes">Reclamantes</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Cadastrar Reclamante
      </li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-md-4">
  <form class="justify-content-center mt-5" (ngSubmit)="cadastrarReclamante()" #cadastrarForm="ngForm">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do reclamante</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do reclamante" [(ngModel)]="nome"
        required maxlength="100" #nomeInvalido="ngModel" />
      <p *ngIf="nomeInvalido.invalid && nomeInvalido.touched" class="text-danger">Digite um nome para o reclamante</p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="cadastrarForm.invalid">Cadastrar</button>
  </form>
</div>
