<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Aprovação</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/escritorios">Escritório</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Editar Escritório
      </li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-md-4">
  <form class="justify-content-center mt-5" (ngSubmit)="editarEscritorio()" #cadastrarForm="ngForm">
    <div class="col-md-4 pb-2">
      <label for="escritorio" class="form-label">Nome antigo</label>
      <select [(ngModel)]="escritorioId" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let escritorio of escritorios" [value]="escritorio.id" required>
          {{ escritorio.nome }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome novo</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do escritório" [(ngModel)]="nome"
        required minlength="5" maxlength="50" #nomeInvalido="ngModel" />
      <p *ngIf="nomeInvalido.invalid && nomeInvalido.touched" class="text-danger">Digite um nome para o escritorio</p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="cadastrarForm.invalid">Atualizar</button>
  </form>
</div>
