<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a >Aprovação</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/processos">Processos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Atualizar Processo
      </li>
    </ol>
  </nav>
</div>
<div class="container-fluid col-md-4">
  <form class="row g-3" (ngSubmit)="editarProcesso()" #editarProcessoForm="ngForm">
    <div class="col-lg-12">
      <label for="numeroDeProcesso" class="form-label p-1">Id</label>
      <select  [ngModelOptions]="{ standalone: true }"  [(ngModel)]="id"  name="id">
        <option *ngFor="let processo of processos" [value]="processo.id">
          {{ processo.id }}
        </option>
      </select>
    </div>
    <div class="col-12">
      <label for="valorCausa" class="form-label">Valor da causa</label>
      <input
        required
        type="number"
        class="form-control"
        id="valorCausa"
        placeholder="35000"
        [(ngModel)]="valorCausa"
        [ngModelOptions]="{ standalone: true }"
        #valor="ngModel"
      />
      <small
        class="text-danger d-block mt-2"
        *ngIf="valor.invalid && valor.touched">
        Valor da causa é obrigatório e deve ser maior que R$ 30.000,00
      </small>
    </div>
    <div>
      <div class="col-md-3">
        <label for="reclamante" class="form-label m-2">Reclamante</label>
        <select class="form-select px-5" [(ngModel)]="reclamanteId" name="reclamante" required>
          <option *ngFor="let reclamante of reclamantes" [value]="reclamante.id">
            {{ reclamante.nome }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="escritorioId" class="form-label m-2">Escritorio</label>
        <select class="form-select px-5" [(ngModel)]="escritorioId" name="escritorio" required >
          <option *ngFor="let escritorio of escritorios" [value]="escritorio.id">
            {{ escritorio.nome }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-12">
      <label for="estadoId" class="form-label p-1">Status do processo</label>
      <select [(ngModel)]="estadoId" name="estadoId" [ngModelOptions]="{ standalone: true }">
        <option [value] = 0>Pendente</option>
        <option [value] = 1>Aprovado</option>
        <option [value] = 2>Recusado</option>
      </select>
    </div>
    <div class="col-lg-12">
      <label for="ativo" class="form-label p-1">Ativo</label>
      <select [(ngModel)]="ativo" name="ativo" [ngModelOptions]="{ standalone: true }">
        <option [value] = false>Inativo</option>
        <option [value] = true>Ativo</option>
      </select>
    </div>
    <div class="col-md-6 justify-content-end mt-1">
      <button  [disabled]="editarProcessoForm.invalid" type="submit" class="btn btn-success">
        Atualizar processo
      </button>
    </div>
  </form>
</div>
